<!DOCTYPE html>
<html>
  <head>
    <title>PrivateChats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div id="notices">
      <%= render "shared/notices" %>
    </div>

    <div class="container">
      <%= render "shared/header" %>
    
    <div class="buttons">
      <p><a href="http://localhost:3000/races/4/export_results.xml">XML</a></p>
      <p><a href="http://localhost:3000/races/4/export_results.pdf">PDF</a></p>
      <p><a href="http://localhost:3000/races/4/export_results.csv">CSV</a></p>
      <p><a href="http://localhost:3000/races/4/export_results.json">JSON</a></p>
    </div>
    <div id="container">
    </div>

      <%= yield %>
    
    </div>
  </body>
</html>
